/* _____________________________________________________________________________________________________________________________________________ */
/* TONY's CODES (DONT FUCK WITH THIS) */

:root {
  --skyblue: rgb(14 165 233);
  --emerald: rgb(16 185 129);
  --slate: rgb(100 116 139);
}

body, div, header, section, aside {
  transition: 2s;
}

.currentNews {
    margin-top: 10px;
    margin-left: 0px;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 80vh;
    min-width: 300px;
    border: 3px solid var(--slate);
    background-color: var(--slate);
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.News {
    min-width: 330px;
    padding: 0;
}

.imagePreview {
    /* border: 3px solid black; */
    justify-content: center;
    width: 90%;
    margin: 3px auto;
}

.newsImage {
    width: 100%;
    height: 100%;
    margin: 3px auto;
}

.titlesearch {
    width: 90%;
    margin: 3px auto;
    font-weight: bolder;
    color: var(--emerald);
}


.link:hover { color: var(--skyblue); }

.textsearch {
  width: 90%;
  margin: 3px auto;
  font-size: 15px;
  color: white !important;
}

.sentiment {
  width: 90%;
  margin: 3px auto;
  text-align: left;
  align-items: left;
}

.sentOrange {
  color: white;
  width:fit-content;
  align-self: left;
  background-color: orange !important;
  font-weight: bolder;
  border: 3px solid orange ;
  border-radius: 10px;
}

.sentRed {
  color: white;
  width:fit-content;
  align-self: left;
  background-color: red !important;
  font-weight: bolder;
  border: 3px solid red ;
  border-radius: 10px;
}

.sentGreen {
  color: white;
  width:fit-content;
  align-self: left;
  background-color: lightgreen !important;
  font-weight: bolder;
  border: 3px solid lightgreen ;
  border-radius: 10px;
}


#theme, #btnSearch {
  background-color: white !important;
  max-width: 150px !important;
  max-height: 50px;
}


.bg-emerald-500 {
  background-color: var(--emerald) !important;
}

.bg-slate-500 {
  background-color: var(--slate) !important;
}


.bg-sky-500 {
  background-color: var(--skyblue) !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--slate);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* ____________________________________________________________________________________________________________________________________________  */

/* DYLANS CSS */


.new-watchlist {
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 15vw;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid var(--slate);
    border-radius: 20px;
    font-weight: 900;
}

.modal {
    font-size: 20px;
    text-align: center;
}

.card{
    background-color: var(--skyblue);
    margin: 0;
    padding: 0;
}

.card-header{
    background-color: rgba(255, 255, 255, 0.554);
    border-radius: 20px 20px 0 0;
}

.card-body{
    justify-content: space-between;
    
}

.remove-stock-btn{
    background-color: red;
}

.get-name{
    border: 1px var(--slate) solid;
    border-radius: 10px;
}

.inner-watchlist{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 20px 20px;
}

.watchlist-btn{
    background-color: var(--skyblue);
}

.watchlist-btn:hover, .watchlist-btn:focus{
    background-color: var(--skyblue)
}

.ui-dialog{
    border-radius: 30px;
    background-color: var(--slate);
    margin: 0 auto;
    float: none;
}

.ui-dialog-titlebar {
    border-radius: 30px 30px 0 0;
    
}

.ui-dialog-title {
    font-size: 20px;
    color: white;
    
}

.ui-dialog .ui-dialog-title{
    float: none;
}

.ui-dialog-buttonpane{
    border-radius: 10px 10px 30px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
}

.ui-dialog-buttonset{
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    
}

.ui-widget-header{
    background-color: rgba(255, 255, 255, 0.25);
    text-align: center;
    border: none;
}




